@import url('https://fonts.cdnfonts.com/css/sf-ui-display?styles=16102,16099,16100,16101,16097,16098,16096');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-lt-pro-2');
@import url('https://db.onlinewebfonts.com/c/13ab13418f633c1b0516fed6e30bedbc?family=Suisse+Int%27l');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: #F9F8F7;
    scroll-behavior: smooth;
    margin-left: 0;
    margin-right: 0;
}

